{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_mailwhistle/resources

    Template to display the resources selection form.

    Context variables required for this template:
    * form - The rendered resources form HTML.
    * hasfiles - True when uploaded images exist.
    * files - Array of {filename, url} public pluginfile URLs.
    * hasdocuments - True when non-image files exist.
    * documents - Array of {filename} for email attachments.

    Example context (json):
    {
        "form": "<form></form>",
        "hasfiles": true,
        "files": [{"filename": "logo.png", "url": "https://example.edu/pluginfile.php/1/local_mailwhistle/resources/0/logo.png"}],
        "hasdocuments": true,
        "documents": [{"filename": "handbook.pdf"}]
    }
}}
{{{form}}}
{{#hasfiles}}
<div class="local-mailwhistle-resource-urls mt-4">
    <h3>{{#str}}resources_publicurls, local_mailwhistle{{/str}}</h3>
    <p>{{#str}}resources_publicurls_desc, local_mailwhistle{{/str}}</p>
    <ul class="list-unstyled">
        {{#files}}
            <li class="local-mailwhistle-resource-url mb-3">
                <div class="mb-1">{{filename}}</div>
                <img src="{{url}}" alt="{{filename}}" class="local-mailwhistle-resource-thumb d-block mb-1">
                <code class="d-block text-break">{{url}}</code>
            </li>
        {{/files}}
    </ul>
</div>
{{/hasfiles}}
{{#hasdocuments}}
<div class="local-mailwhistle-resource-attachments mt-4">
    <h3>{{#str}}resources_attachments, local_mailwhistle{{/str}}</h3>
    <p>{{#str}}resources_attachments_desc, local_mailwhistle{{/str}}</p>
    <ul>
        {{#documents}}
            <li>{{filename}}</li>
        {{/documents}}
    </ul>
</div>
{{/hasdocuments}}
